<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Name : {{userData.name}}</h5>
    <span class="text-muted">Email: {{userData.email}}</span>
    <br>
    <span class="text-muted">Address: {{userData.address}}</span>
    <br>
    <span class="text-muted">Contact: {{userData.phone}}</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home">
          <button type="button" class="btn btn-outline-danger">logout</button>
        </a></li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<nav class="navbar navbar-light" style="background-color: rgb(255, 251, 0);">
</nav>