<p>
    <h1>
        test contact 
    </h1>
    <div class="card text-left">
      <img class="card-img-top" src="/images/img.jpg" alt="image">
      <div class="card-body">
        <h4 class="card-title">Dummy Image</h4>
        <p class="card-text">This is our test image</p>
      </div>
    </div>
</p>