<div class="container">
  <br>
    <p class="page-description">Don't hesitate to contact us if you have any questions or inquiries.</p>
    <div class="contact-card">
      <h2>FrontEnd</h2>
      <p><strong>Name:</strong> Tuhinsuvra Sarkar</p>
      <p><strong>Phone:</strong> 8927774706</p>
      <p><strong>Email:</strong> tuhin301201@gmail.com</p>
    </div>
    <div class="contact-card">
      <h2>BackEnd</h2>
      <p><strong>Name:</strong> Shrijon Biswas</p>
      <p><strong>Phone:</strong> 9163183259</p>
      <p><strong>Email:</strong> shirjon0133@gmail.com</p>
    </div>
</div>

<style>
.contact-card {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-card p {
  margin-bottom: 5px;
}

</style>
