<style>
 .admin {
    display: inline-block;
   height: 100%;
    width: 100%;
    padding: 25% 40%;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #E1E8EB;
    border-radius: 20px;
  }
  .pass {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 20% 30%;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #E1E8EB;
    border-radius: 20px;

  }

  .pass:hover {
    background-color: #cccccc;
  }
  .admin:hover {
    background-color: #cccccc;
  }
</style>
<div class="container">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-6 text-center center">
    <a href="/passenger-login" class="pass" > <i class="fa-solid fa-users fa-beat" style="color: #7952B3;"></i> Passenger </a>
  </div>
  <br>
  <br>
  <div class="col-6 text-center center" style="">
    <a href="/admin-login" class="admin"> <i class="fa-solid fa-user-gear fa-beat fa-xl" style="color: #FFC107;"></i>  Admin </a>
  </div>
  </div>
</div>
