<style>
 .admin {
    display: inline-block;
    padding: 100px 200px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 200px;
  }
  .pass {
    display: inline-block;
    padding: 100px 150px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 200px;
  }

  .pass:hover {
    background-color: #bdbab8;
  }
  .admin:hover {
    background-color: #b4b2af;
  }
</style>
<div class="container">
  <br>
  <div class="col text-center center">
    <a href="/passenger-login" class="pass" ><i class="fa-solid fa-users fa-beat" style="color: #101494;"> Passenger Login </i></a>
  </div>
  <br>
  <br>
  <div class="col text-center center" style="">
    <a href="/admin-login" class="admin"><i class="fa-solid fa-user-gear fa-beat fa-xl" style="color: #962727;"> Admin Login </i></a>
  </div>
</div>
