<div class="container">
  <div class="row">
    <div class="col-6">
      <p class="h1">lthis is home</p>
      <form action="passenger-login" method="get">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <br>
        <input type="submit" class="btn btn-success">
      </form>
    </div>


  </div>
</div>