<style>
 .admin {
    display: inline-block;
    padding: 100px 200px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: #ffc400;
    border: 2px solid #ffc400;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  .pass {
    display: inline-block;
    padding: 100px 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }


  .pass:hover {
    background-color: #1e1d1c;
    color: white;
  }
  .admin:hover {
    background-color: #ffc400;
    color: rgb(33, 33, 32)
  }
</style>
<div class="container">
  <br>
  <div class="col text-center center">
    <a href="/passenger-login" class="pass">Passenger Login</a>
  </div>
  <br>
  <br>
  <div class="col text-center center" style="">
    <a href="/admin-login" class="admin">Admin Login</a>
  </div>
</div>
