<div class="container">
  <div class="row">
    <div class="col-6">
      <p class="h1">login</p>
      <form action="dashboard" method="post">
        <div class="form-group">
          <label for="accountNumber">Account Number:</label>
          <input type="text" class="form-control" id="accno" placeholder="Enter account number" name="accnum">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <br>
        <input type="submit" class="btn btn-success">
        <p> Don't have account <a href="/signup"> click here</a></p>
      </form>
    </div>


  </div>
</div>