<div class="row">
  <div class="signup-form">
    <h1 class="signup-heading">Sign Up</h1>
    <form action="/dashboard" method="post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" placeholder="Enter your address">
      </div>
      <div class="form-group">
        <label for="accountNumber">Account Number:</label>
        <input type="text" class="form-control" id="accno" placeholder="Enter account number">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="number" class="form-control" id="phno" placeholder="Enter phone number">
      </div>
      <br>
      <input type="submit" class="btn btn-success" value="Sign Up">
    </form>
  </div>
</div>

<style>
  .container {
  margin-top: 100px;
}

.signup-form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.signup-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #218838;
}
.row
{

  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2%;
}

</style>